<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display posts on feed</title>
</head>
<body>
    
<h2>Welcome <%= user.username %></h2>
<a href="/post">Create Post</a> |
<a href="/logout">Logout</a>
<hr>

<% posts.forEach(post => { %>

  <div>
    <h3><%= post.username %></h3>
    <img src="<%= post.image_url %>" width="200"/>
    <p><%= post.caption %></p>

    <h4>Add Comment:</h4>
    <form action="/comments/<%= post.id %>" method="POST">
      <input type="text" name="text" placeholder="Add comment" required>
      <button type="submit">Comment</button>
    </form>

    <hr>
  </div>

<% }) %>

</body>
</html>